[submodule "ansible_collections/tosit/tdp"]
	path = ansible_collections/tosit/tdp
	url = git@github.com:shitana/tdp-collection
[submodule "ansible_collections/tosit/tdp_extra"]
	path = ansible_collections/tosit/tdp_extra
	url = git@github.com:shitana/tdp-collection-extras
[submodule "tdp-vagrant"]
	path = tdp-vagrant
	url = git@github.com:shitana/tdp-vagrant.git
[submodule "ansible_collections/tosit/tdp_prerequisites"]
	path = ansible_collections/tosit/tdp_prerequisites
	url = git@github.com:shitana/tdp-collection-prerequisites.git
[submodule "tdp-lib"]
	path = tdp-lib
	url = git@github.com:shitana/tdp-lib.git
